*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: none;
    text-decoration: none;
    background-image: none;
    background-color: transparent;
}
/*Начало блока корзина*/
.paragraph {
    margin-top: 3vw;
}
.paragraph h3 {
    color: black;
    font-size: 1.7vw;
    margin: 0 100px;
    text-align: center;
    padding-bottom: 1vw;
    border-bottom: 2px solid black;
}
.table-block {
    color: black;
    margin: 5vw 17vw 4vw;
}
th {
    padding: 1.2vw 2vw;
    border: 1px solid black;
    text-align: center;
}
.table-title {
    font-size: 1.1vw;
}
.table-content {
    font-size: 0.8vw;
}
.table-content a {
    color: black;
    font-size: 1.5vw;
}
.order {
    margin: 0 17vw;
    color: black;
    font-size: 1.2vw;
}
.data {
    margin: 3vw 17vw 7vw;
    display: flex;
    gap: 2vw;
    align-items: flex-start;
    flex-direction: column;
}
h1{
    color: black;
    font-size: 1.7vw;
    font-weight: 100;
}
.itog {
    color: black;
    font-size: 0.9vw;
}
.buy {
    display: flex;
    gap: 2.5vw;
}
.buy a {
    color: black;
    font-size: 1.2vw;
}
.table{
    display: flex;
    flex-direction: column;
}
.table2{
    display: flex;
    gap: 5vw;
}
form{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}
label{
    font-weight: 100;
    font-size: 1.2vw;
    line-height: 50px;
    color: black;
}
input {
    font-weight: 100;
    font-size: 0.9vw;
    border: 1px solid black;
    color: black;
    background-color: #212529;
    padding: 0.5vw 1vw;
    width: 17vw;
}
select{
    font-weight: 100;
    font-size: 0.8vw;
    width: 17vw;
    border: 1px solid black;
    color: black;
    background-color: #212529;
    margin-top: 1vw;
    padding: 0.5vw;
}
.btn_top1 {
    display: flex;
    justify-content: center;
    margin: 0.5vw 0;
}
.btn_top1_more1 {
    text-decoration: none;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    width: 250px;
    height: 40px;
    font-size: 1.1vw;
    transition: 2s;
}
.btn_top1_more1:hover {
    background: black;
    color: white;
    transition: 2s;
}
/*Конец  блока корзина*/
