*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: none;
    text-decoration: none;
    background-image: none;
    background-color: transparent;
}
header{
    margin: 0 100px;
    padding: 1vw;
    border-bottom: black 2px solid;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between
}
ul{
    display: flex;
    gap: 5vw;
}
a{
    color: black;
    font-size: 1.2vw;
}
h2{
    color: black;
    font-size: 1.5vw;
}
/*подчеркивание у ссылок*/
.link-effect::after{
    content: '';
    display: block;
    width: 0;
    height: 1.5px;
    background: black;
    transition: 0.3s;
}
.link-effect:hover::after{
    width: 100%;
    transition: width 0.3s;
}
